extends layout

block content
    //
       Three columns of text below the carousel 
    .row
      .col-lg-4
        img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', style='width: 140px; height: 140px;')
        h2 简单高效
        p
          | 简单五笔的清爽界面，极速的键盘响应.
        p
          a.btn.btn-default(href='#rapid', role='button') 查看详细 »
      //
         /.col-lg-4 
      .col-lg-4
        img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', style='width: 140px; height: 140px;')
        h2 界面简洁
        p
          | 简约之风大行其道，带给用户清爽界面.
        p
          a.btn.btn-default(href='#simple', role='button') 查看详细 »
      //
         /.col-lg-4 
      .col-lg-4
        img.img-circle(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', alt='Generic placeholder image', style='width: 140px; height: 140px;')
        h2 无联网需求
        p
          | 降低用户流量消耗，不上传用户隐私.
        p
          a.btn.btn-default(href='#privacy', role='button') 查看详细 »
      //
         /.col-lg-4 
    //
       /.row 
    //
       START THE FEATURETTES 
    hr.featurette-divider
    .row.featurette#rapid
      .col-md-7
        h2.featurette-heading
          | 简单高效.
          span.text-muted 应快捷需求而生.
        p.lead
          | 开发人员倾尽全力，将输入法运行效率优化到极致。简单五笔简约的风格，使得用户非常容易上手，不需要复杂配置就可以获得很好的使用体验。
      .col-md-5
        img.featurette-image.img-responsive(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
    hr.featurette-divider
    .row.featurette#simple
      .col-md-5
        img.featurette-image.img-responsive(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
      .col-md-7
        h2.featurette-heading
          | 界面简洁.
          span.text-muted 尽可能将更多的空间留给手指.
        p.lead
          | 简单五笔使用简约的风格来设计用户界面，界面布局符合用户惯有的使用习惯，与系统原有输入法键盘布局一致。我们在为用户提供更多功能使用的同时，尽量不让用户对界面产生臃肿的感受，一切简约至上。简约而不简单。
    hr.featurette-divider
    .row.featurette#privacy
      .col-md-7
        h2.featurette-heading
          | 无联网需求.
          span.text-muted 保护用户隐私.
        p.lead
          | 简单五笔不强制向用户索取联网权限，这是用户隐私最可靠的保障。在没有网络联接的场景下，简单五笔在使用了本地短时缓存的基础上，将用户最可能希望的词组显示在选词栏，让用户打字更高效。
      .col-md-5
        img.featurette-image.img-responsive(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
    hr.featurette-divider
    //
       /END THE FEATURETTES 
    script.
      $('#index').addClass('active');
